<div class="formulario container">
    <h3 class="titulo">
        Añade tu inversión
    </h3>
    <form class="container formInicio text-center" id="form" #Form1="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group firstGroup">
            <label for="buyDate">Fecha de compra</label>
            <input type="date" name="buyDate" #buyDate="ngModel" [(ngModel)]="form.buyDate">

            <label for="accion">Acción</label>
            <input type="text" name="accion" #accion="ngModel" [(ngModel)]="form.accion">

            <label for="titulos">Cantidad titulos</label>
            <input type="number" name="titulos" #titulos="ngModel" [(ngModel)]="form.titulos">
        </div>

        <div class="form-group secondGroup">
            <label for="precioAccion">Precio de la acción</label>
            <input type="number" name="precioAccion" #precioAccion="ngModel" [(ngModel)]="form.precioAccion">

            <label for="comision">Comisión</label>
            <input type="number" name="comision" #comision="ngModel" [(ngModel)]="form.comision">
        </div>

        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>

    <form class="container formFinal text-center" id="form" #Form2="ngForm" (ngSubmit)="validarCompra()" *ngIf="total">
        <div class="form-group">
            <label for="compraTotal">Total compra con comisión</label>
            <input type="number" name="compraTotal" #compraTotal="ngModel" [(ngModel)]="form.compraTotal">

            <label for="compraNeta">Total neto de la compra</label>
            <input type="number" name="compraNeta" #compraNeta="ngModel" [(ngModel)]="form.compraNeta">
        </div>

        <input type="submit" value="Confirmar compra" class="btn btn-primary">
    </form>
</div>