<div class="container">
    <div class="titulo text-center">
        <h1 class=" mt-5">
            ¿Qué me pongo hoy?
            <img src="../../assets/images/clothes/perchero.png" class="image-titulo mt-3" alt="perchero image">
        </h1>
    </div>


    <div class="row text-center mt-5 img">
        <div class="col-6">
            <img src={{imgWoman}} class="mt-3" alt="woman img">
        </div>
        <div class="col-6">
            <img src={{imgMan}} class="mt-3" alt="man img">
        </div>
    </div>


    <div class="tituloTiempo mt-5 text-center">
        <div class="datos mt-3">
            <h3>{{this.arrWeather?.day1.text}}</h3>
            <p>{{this.arrWeather?.day1.temperature_max}}º</p>
            <img src={{getIcon}} alt="">
            <p>{{this.arrWeather?.day1.temperature_min}}º</p>
        </div>
    </div>

</div>