.img-woman img,.img-man img{
    width: 120%;
    height: auto;
    border-radius: 60%;
    margin-top: 3.5em;
}

.img-woman img{
    margin-right: -3em;
}

.img-man img{
    margin-left: -2.2em;
}

.tituloTiempo{
    margin-top:3.5em;
}

.container .row .tituloTiempo .iconImg{
    width: 50%;
    height: auto;
}

.container .row .tituloTiempo .hotTemp{
    color: red;
}

.container .row .tituloTiempo .coldTemp{
    color: blue;
}