<div class="container text-center mt-3">
    <h6>Predicción horaria</h6>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">17:00</th>
        <th scope="col">19:00</th>
        <th scope="col">21:00</th>
        <th scope="col">23:00</th>
      </tr>
    </thead>
    <tbody>
        
      <tr>
        <td><img src="https://v5i.tutiempo.net/wi/01/50/2n.png" alt="imgIcon"></td>
        <td><img src="https://v5i.tutiempo.net/wi/01/50/2n.png" alt="imgIcon"></td>
        <td><img src="https://v5i.tutiempo.net/wi/01/50/2n.png" alt="imgIcon"></td>
        <td><img src="https://v5i.tutiempo.net/wi/01/50/2n.png" alt="imgIcon"></td>
      </tr>
    </tbody>
  </table>