table{
    margin-bottom: 100px;
}

.date{
    font-size: 0.7em;
}

.date th{
    padding: 0.5em;
}

tbody tr td img{
    width: 50%;
    height: auto;
}

.hotTemp{
    color: red;
}

.coldTemp{
    color: blue;
}
