<div class="container text-center mt-5">
  <h5>Próximos días</h5>
</div>

<div class="container">
  <table class="table text-center">
    <thead>
      <tr class="date">
        <th scope="col">{{this.arrWeather?.day2.date | date:"mediumDate"}}</th>
        <th scope="col">{{this.arrWeather?.day3.date | date:"mediumDate"}}</th>
        <th scope="col">{{this.arrWeather?.day4.date | date:"mediumDate"}}</th>
        <th scope="col">{{this.arrWeather?.day5.date | date:"mediumDate"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src={{getIcon2}} alt="imgIcon"><br><span
            class="hotTemp">{{this.arrWeather?.day2.temperature_max}}º</span> / <span
            class="coldTemp">{{this.arrWeather?.day2.temperature_min}}º</span>
        </td>
        <td><img src={{getIcon3}} alt="imgIcon"><br><span
            class="hotTemp">{{this.arrWeather?.day3.temperature_max}}º</span> / <span
            class="coldTemp">{{this.arrWeather?.day3.temperature_min}}º</span></td>
        <td><img src={{getIcon4}} alt="imgIcon"><br><span
            class="hotTemp">{{this.arrWeather?.day4.temperature_max}}º</span> / <span
            class="coldTemp">{{this.arrWeather?.day4.temperature_min}}º</span></td>
        <td><img src={{getIcon5}} alt="imgIcon"><br><span
            class="hotTemp">{{this.arrWeather?.day5.temperature_max}}º</span> / <span
            class="coldTemp">{{this.arrWeather?.day5.temperature_min}}º</span></td>
      </tr>
    </tbody>
  </table>
</div>