<table class="table container text-center">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Acción</th>
            <th>Evento</th>
            <th>Fecha compra</th>
            <th>Titulos</th>
            <th>Precio acción</th>
            <th>Compra neta</th>
            <th>Evento</th>
            <th>Fecha venta</th>
            <th>Titulos</th>
            <th>Precio acción</th>
            <th>Compra neta</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="">
            <th></th>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td> €</td>
            <td> €</td>
            <td> €</td>
            <td> €</td>
        </tr>
    </tbody>
</table>