<div class="container">
    <!-- CURSO INICIACION -->
    <div class="row">
        <div class="col-12 col-md-9">
            <img src="../assets/images/cursos/curso_iniciacion.jpg" alt="" class="caja-imagen">
        </div>
        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto">
                <h2>NIVEL INICIACION</h2>
                <p>En este curso de iniciación a la fotografía descubriremos de una manera práctica los fundamentos de
                    la técnica fotográfica y aprenderemos a manejar nuestras cámaras con eficacia. Realizaremos
                    ejercicios fotográficos que estimularán nuestra
                    creatividad y nuestra afición a la fotografía.</p>
                <button class="btn boton-primario" (click)="manejarClickIniciacion()">+ info</button>
            </div>
        </div>
    </div>
    <!-- FIN CURSO INICIACION -->

    <!-- CURSO INTERMEDIO -->
    <div class="row flex-column-reverse flex-md-row">

        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto-par">
                <h2>NIVEL INTERMEDIO</h2>
                <p>Si ya has adquirido los conocimientos del curso básico de fotografía, en este curso de fotografía de
                    nivel intermedio llegarás un poco más allá, adquirirás algunos conocimientos técnicos por encima del
                    triángulo de la exposición y otros
                    conocimientos no tan técnicos que te permitirán aportar un punto de creatividad y personalidad a tus
                    fotografías.</p>
                <button class="btn boton-primario" (click)="manejarClickMedio()">+ info</button>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <img src="../assets/images/cursos/cursos_intermedio.jpg" alt="" class="caja-imagen">
        </div>
    </div>
    <!-- FIN CURSO INTERMEDIO -->

    <!-- CURSO AVANZADO -->
    <div class="row">
        <div class="col-12 col-md-9">
            <img src="../assets/images/cursos/cursos_avanzado.jpg" alt="" class="caja-imagen">
        </div>
        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto">
                <h2>NIVEL AVANZADO</h2>
                <p>Curso de Fotografía Profesional orientados a cada una de las especialidades fotográficas más
                    destacables en este momento, pensadas siempre para satisfacer la demanda del mundo tanto laboral
                    como fotográfico. Tres especialidades que pueden
                    realizarse de manera tanto individual como conjunta.</p>
                <button class="btn boton-primario" (click)="manejarClickAvanzado()">+ info</button>
            </div>
        </div>
    </div>
    <!-- CURSO AVANZADO -->
</div>