<h1>Prueba técnica Iteriam</h1>
<h2>Condiciones de la prueba</h2>
<ol>
  <li>Generar un Json de 4000 elementos con la siguiente estructura:
    <p>
      id: id_imagen,
      photo: url_photo,
      text:random_lorem_ipsum_text
    </p>
  </li>
  <li>Pintar en pantalla los 4000 elementos, el scroll debe tener un rendimiento óptimo, se debe mostrar la imagen y el
    texto random generado.</li>
  <li>Añadir un filtro que permita buscar por el ID de la imagen y por el texto.</li>
  <li>Se valorará el uso de test unitarios, E2E y componentes.</li>
</ol>

<h2>Listado de elementos</h2>
<div *ngFor="let item of items">
  <p>{{item.id}} {{item.photo}} {{item.text}}</p>
</div>