<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row">
            <a class="navbar-brand" href="#">
                <img src="../../assets/images/adecco.jpg" alt="" width="100" height="50">
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../assets/images/randstad.png" alt="" width="100" height="50">
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../assets/images/manpower.jpg" alt="" width="100" height="50">
            </a>
            <a class="navbar-brand" href="#">
                <h1>NominaHour</h1>
            </a>
        </div>
    </div>
</nav>

<h2 id="Title" class="text-center">
    Bienvenido a NóminaHour
</h2>

<div class="container">
<h3 id="Formulario">
    <p>Para comenzar, necesito tener algunos datos:</p>
</h3>
<form>
    <div class="form-group">
        <label for="normalPrice">Precio de la hora normal</label>
        <input type="number" class="form-control" id="normalPrice">
    </div>
    <div class="form-group">
        <label for="nocturnalPrice">Precio de la hora nocturna</label>
        <input type="number" class="form-control" id="nocturnalPrice">
    </div>
    <div class="form-group">
        <label for="festivePrice">Precio de la hora festiva</label>
        <input type="number" class="form-control" id="festivePrice">
    </div>
    <div class="form-group">
        <label for="festiveNocturnalPrice">Precio de la hora festiva nocturna</label>
        <input type="number" class="form-control" id="festiveNocturnalPrice">
    </div>
    <button type="submit" class="btn btn-primary">Enviar datos</button>
</form>
</div>