<div class="container">
    <div class="row">
        <div class="cardArtist mr-3" *ngFor="let album of albums">
            <div class="card mt-3">
                <img src={{album.coverUrl}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{album.title}}</h5>
                    <p>Año: {{album.year}}</p>
                    <p>Género: {{album.genre}}</p>
                    <div class="buttons text-center">
                        <a class="btn btn-success mr-1" [routerLink]="['albumDetail', album._id]">Detail</a>
                        <a class="btn btn-warning mr-1" [routerLink]="['editAlbum', album._id]">Edit</a>
                        <a class="btn btn-danger" (click)="deleteAlbum(album._id)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back">
        <a class="btn btn-info mt-3" [routerLink]="['/']">Back to artist home</a>
    </div>
</div>