<table class="table container text-center">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Evento</th>
      <th>Fecha compra</th>
      <th>Acción</th>
      <th>Titulos</th>
      <th>Precio acción</th>
      <th>Compra total</th>
      <th>Comision</th>
      <th>Compra neta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let valorCompra of valoresCompra, let i = index">
      <th>{{i}}</th>
      <th>{{valorCompra.evento}}</th>
      <td>{{valorCompra.buyDate}}</td>
      <td>{{valorCompra.accion}}</td>
      <td>{{valorCompra.titulos}}</td>
      <td>{{valorCompra.precioAccion}} €</td>
      <td>{{valorCompra.compraTotal}} €</td>
      <td>{{valorCompra.comision}} €</td>
      <td>{{valorCompra.compraNeta}} €</td>
    </tr>
  </tbody>
</table>

<table class="table container text-center">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Evento</th>
      <th>Fecha centa</th>
      <th>Acción</th>
      <th>Titulos</th>
      <th>Precio acción</th>
      <th>Venta total</th>
      <th>Comision</th>
      <th>Venta neta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let valorVenta of valoresVenta, let i = index">
      <th>{{i}}</th>
      <th>{{valorVenta.evento}}</th>
      <td>{{valorVenta.sellDate}}</td>
      <td>{{valorVenta.accion}}</td>
      <td>{{valorVenta.titulos}}</td>
      <td>{{valorVenta.precioAccion}} €</td>
      <td>{{valorVenta.ventaTotal}} €</td>
      <td>{{valorVenta.comision}} €</td>
      <td>{{valorVenta.ventaTotal}} €</td>
    </tr>
  </tbody>
</table>